@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
--primary—text-color: #183b56;
--secondary-text-color: #577592;
--accent—color: #2294ed;
--accent—color—dark: #1d69a3;
--padding—inline—section: 20px;
}

body{
    color: var(--primary—text-color);
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

p{
   font-family: 'Roboto', sans-serif;
   font-size: 1.25rem;
   color: var(--secondary-text-color);
   line-height: 1.8rem;
}

a{
    text-decoration: none;
    display: inline-block;
    color: #183b56;
    
}
a:hover{
    color: var(--accent—color);
    cursor: pointer;

}

ul{
    list-style: none;
}
/* utility */

.container{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding—inline—section);    
}

.top-banner{
    background-image: url('./assets/asset28.png');
    background-size: 200px;
    background-color: #e74694;
}


.banner-text{
    color: azure;
    text-align: center;
    padding: 9px 15px;
    font-size: 0.8rem;
    font-weight: 500;
}


.logo{
    width: 200px;
}

.navi {
  margin-top: 20px;
  display: flex;
  justify-content: space-between; /* logo left, menu right */
  align-items: center;
}

.uol {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  list-style: none;
}

li {
  font-size: 0.7rem;
}


.button{
    padding: 10px 17px;
    border: 1px solid #2294ed;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
    font-size: 0.7rem ;
}

.button:hover{
    color: var(--accent—color);
    cursor: pointer;
}

.b2:hover{
    background: white;
}

.b2{
    background: var(--accent—color);
    color: azure;
}

.header-sec{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    margin-top: 20px;
}

.para{
    padding: 50px var(--padding—inline—section) 0px;
    max-width: 350px;

}
.pic {
    width: 600px;   /* container ka size tum control karo */
}
.pic img {
    margin-top: 50px;
    max-width: 100%;
    height: auto;
}

.get-btn{
    font-size: 1rem;
    margin-top: 30px;
    padding: 10px 35px;
}

.com{
    margin-top: 40px;
    color: var(--primary—text-color);
}

.logos{
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.logos img{
   width: 100px;
}

.top{
    text-align: center;
}

.f-area {
   margin-top: 20px;
   display: flex;
   flex-wrap: wrap;        /* allow next line */
   gap: 10px;              /* spacing between cards */
   justify-content: space-around;
}


.f-card {
   max-width: 30%;
   text-align: center;
   padding: 10px;
}

.f-card p{
    font-size: 11px;
}

.f-card img{
    max-width: 30px;
}
.feature{
    padding: 100px 250px 40px;
    background-image: url('./assets/asset29.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.btn-l{
    padding: 5px 22px;
}

.big-feature{
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.left-sec img{
    width: 500px;
    
}

.right-sec{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    
}

.i1{
    width: 100px;
}

.i2{
    
    width: 40px;
    height: auto;
    display: inline;
}

.right-sec p{
    margin-top: 15px;
    line-height: 1.7;
    font-size: 14px;
    font-weight: 500;

}

.mar-top{
    margin-top: 15px;
}

.human{
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 14px;
    font-weight: 500;
    padding-left: 25px;
}

.huma {
    display: flex;
    flex-direction: column; /* stack vertically */
}

.huma p {
    margin: 0px;
    font-size: 13px;
    line-height: 1.1;       /* keep them close but readable */
}

.p2{
    background-image: url('./assets/asset30.svg');
    background-repeat: no-repeat;
    background-size: 50px;
    padding-left: 22px;
    padding-top: 8px;
    color: #183b56;

}

.left-sec1{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    
}

.left-sec1 p{
    margin-top: 15px;
    line-height: 1.7;
    font-size: 14px;
    font-weight: 500;

}
.right-sec1 img{
    width: 500px;
}

.huma p {
    margin: 0px;
    font-size: 13px;
    line-height: 1.1;       /* keep them close but readable */
}

.t{
    margin-top: 90px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: var(--padding—inline—section);
}

.text{
    font-size: 0.9rem;
    position: absolute;
    color:white;
    bottom: 20px;
    left: 20px;
}

.card{
    width: 23%;
    height: 300px;
    position: relative;
    background-image: url('./assets/asset31.jpeg');
    background-size: cover;

}
.card1{
    width: 23%;
    height: 300px;
    position: relative;
    background-image: url('./assets/asset32.jpeg');
    background-size: cover;

}
.card2{
    width: 23%;
    height: 300px;
    position: relative;
    background-image: url('./assets/asset33.jpeg');
    background-size: cover;

}
.card3{
    width: 23%;
    height: 300px;
    position: relative;
    background-image: url('./assets/asset34.jpeg');
    background-size: cover;

}

.ct{
    flex-direction: column;
    padding:120px var(--padding—inline—section) 80px;
}
.foter{
    display: flex;
    gap: 150px;
    
}

.fot{
    background-color: #ebf2fa;
    padding: 60px var(--padding—inline—section) 30px;


}

.c1{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.c2{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.c3{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.sub-footer{
    background-color: #b9cde4;
}
.terms{
    display: flex;
    gap: 20px;
    font-size: 11px;
    padding: 15px;
}
.findus{
    display: flex;
    gap: 20px;
}

.findus img{
    width: 20px;
}
.sub{
    display: flex;
    align-items: center;
    justify-content: space-around;   

}